<div class="jumbotron">
    <div class="container">
        <h1>Bestill</h1>
    </div>
</div>

<section id="nav-tab">
    <div class="container">
        <div class="row text-center">
            <ul class="nav nav-tabs">
                 <li role="presentation" class="active"><a href="#">Web Design</a></li>
                 <li role="presentation"><a href="#">Film & Klipp</a></li>
                 <li role="presentation"><a href="#">Grafisk Design</a></li>
                 <li role="presentation"><a href="#">Annet</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="web-order">
    <div class="container">
        <div class="row">
            <h2>Om Tjenesten</h2>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <h3>Lekker</h3>
                <p>Lekker pakken passer perfekt til deg som er selvstendig næringsdrivende, privatperson eller driver en mindre virksomhet. Siden vil inneholde all nødvendig informasjon om dine tjenester eller produkter. Samtidig som nettsiden vil ha et interessevekkende design, vil det også være mulig for kunder å kontakte deg gjennom kontaktskjema på mail.</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Lekker +</h3>
            <p>Lekker pluss er en mer fleksibel utgave av lekker pakken. Denne pakken er skreddersydd til deg som driver en større bedrfit, men passer også til de som trenger litt flere funskjoner. Gjennom lekker + blir det mulig for brukere å logge inn / registrere seg, lage brukerprofiler, gjennomføre betalinger og mye mer. Om ønskelig, er det også mulig å gjøre det slik at brukere kan velge mellom premium og gratis medlemskap.</p>
        </div>
        
        <div class="col-md-4">
            <h3>Nettbutikk</h3>
            <p>Start veien mot en passiv inntekt</p>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="product-table well">
                    <h3 class="table-header text-center">Lekker</h3>
                    <table class="table table-striped table-responsive">
                        <tbody>
                          <tr>
                            <td>Lekkert Design</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Responsivt</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Interaktiv</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Flere sider</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Unik</td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                    
                    <div class="btn btn-success text-center"><%= link_to new_order_path %></div>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>