<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        
        <h3>Spørsmål / Bestilling fra digitikk.no</h3>
        <h5>Fra: <%= "#{ @navn }" %></h5>
        <h5>Epost: <%= "#{ @epost }" %></h5>
        <p><%= @body %></p>
        
    </body>
</html>