<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"> <!-- Display webpage in Edge mode/IE in highest supported document mode -->
  <meta name=viewport content="width=device-width, initial-scale=1"> <!-- Optimizations for mobile devices -->
  
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Rubik:400,500,700" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
